.app {
  width: 100vw;
}

/* ::-webkit-scrollbar { 
  display: none; 
} */

@media only screen and (min-width: 768px) {
  .app-menu {
    position: fixed;
  }
  .app-content {
    width: calc(100% - 160px);
    margin-left: 80px;
    position: absolute;
  }
  .app-cart {
    position: fixed;
  }
}

@media only screen and (max-width: 768px) {
  .app-menu {
    position: fixed;
  }
  .app-content {
    position: absolute;
  }
  .app-cart {
    position: fixed;
  }
}
