.app {
  width: 100vw;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .app-menu {
    z-index: 1;
  }
  .app-content {
    z-index: 0;
    width:         calc(100% - 160px);
    width:    -moz-calc(100% - 160px);
    width: -webkit-calc(100% - 160px);
    margin-left: 80px;
    position: absolute;
  }
  .app-cart {
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .app-menu {
    z-index: 1;
  }
  .app-content {
    z-index: 0;
  }
  .app-cart {
    z-index: 1;
  }
}
