.home {
    width: 100%;
    text-align: center;
    position: absolute;
}

.home section {
    width: 100%;
    display: flex;
    position: relative;
}

.home #secHead {
    height: 100vh;
    min-height: 500px;
}

.home #secHome {
    height: 100vh;
    min-height: 500px; 
    width: calc(100% - 160px);
    position: fixed;
}

.home #secStore {
    height: 200vh;
    min-height: 1000px;
    background-color: white;
}