.menu {
    font-family: 'Itim', cursive;
    margin: 0px;
    padding: 0px;
    left: 0px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
}

.menu-button .social-icon li img {
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 768px) {
    .menu {
        height: 100%;
        width: 80px;
    }
    
    .menu-anim {
        width: 80px;
        animation-name: hide-menu;
        animation-duration: 1s;
    }
    
    .menu-button {
        width: 80px;
        height: 100%;
        background-color: white;
        text-align: center;
        display:table-column;
        right: 0;
        position: absolute;
    }

    .menu-button ul {
        margin: 0;
        padding: 0;
    }

    .menu-button .yon {
        list-style-type: none;
        margin-top: 20px;
        position: absolute;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-button .yon li {
        animation: logo-yon-anim 8s linear infinite alternate;
        font-size: 32px;
        font-weight: bold;
        line-height: 80%;
    }

    .menu-button .store {
        list-style-type: none;
        margin-top: 20px;
        position: absolute;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-button .store li {
        animation: logo-store-anim 8s linear infinite alternate;
        font-size: 32px;
        font-weight: bold;
        line-height: 80%;
    }
    
    .menu-icon {
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .menu-button .social-title {
        animation: logo-social-anim 8s linear infinite alternate;
        transform: rotate(-90deg);
        overflow: hidden;
        margin-top: 20px;
        font-weight: bold;
        line-height: 80%;
        font-size: 16px;
        text-align: left;
        left: -5px;
        bottom: 65px;
        position: absolute;
    }

    .menu-button .social-icon{
        list-style-type: none;
        height: 100px;
        left: 35%;
        transform: translateX(-50%);
        bottom: 60px;
        position: absolute;
    }

    .menu-button .social-icon li {
        padding: 15px;
    }

    .menu-button .social-icon li img {
        animation: logo-social-icon-anim 8s linear infinite alternate;
        position: absolute;
    }
    
    .menu-content {
        width: 50%;
        height: 100%;
        left: -50%;
        position: fixed;
        background-color: white;
    }

    .menu-content .menu-img-background {
        width: 200px;
        height: 200px;
        top: 10%;
        transform: rotate(0deg);
        background-image: url(/images/imgmenu.png);
        background-repeat: no-repeat;
        background-size: contain;
        animation-name: hide-background;
        animation-duration: 1s;
        right: 0px;
        position: absolute;
    }
    
    .menu-content-anim {
        animation-name: hide-menu-content;
        animation-duration: 1s;
        left: -50%;
    }

    .menu-show .menu-content .menu-img-background {
        animation-name: show-background;
        animation-duration: 1s;
        transform: rotate(-20deg);
    }
    
    .menu-show {
        animation-name: show-menu;
        animation-duration: 1s;
        width: 50%;
    }
    
    .menu-show .menu-content {
        animation-name: show-menu-content;
        animation-duration: 1s;
        left: 0;
    }
    
    @keyframes show-menu {
      from {width: 80px;}
      to {width: 50%;}
    }
    
    @keyframes hide-menu {
      from {width: 50%;}
      to {width: 80px;}
    }
    
    @keyframes show-menu-content {
        from {left: -50%;}
        to {left: 0;}
    }
    
    @keyframes hide-menu-content {
        from {left: 0;}
        to {left: -50%;}
    }

    @keyframes logo-yon-anim {
        0% {max-height: 200px;}
        25% {max-height: 200px;}
        50% {max-height: 0px;}
        100% {max-height: 0px;}
    }

    @keyframes logo-store-anim {
        0% {max-height: 0px;}
        50% {max-height: 0px;}
        75% {max-height: 200px;}
        100% {max-height: 200px;}
    }

    @keyframes logo-social-anim {
        0% {opacity: 1;}
        25% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 0;}
    }

    @keyframes logo-social-icon-anim {
        0% {max-height: 0px;}
        50% {max-height: 0px;}
        75% {max-height: 200px;}
        100% {max-height: 200px;}
    }

    @keyframes show-background {
        from {transform: rotate(0deg);}
        to {transform: rotate(-20deg);}
    }

    @keyframes hide-background {
        from {transform: rotate(-20deg);}
        to {transform: rotate(0deg);}
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        height: 50px;
        width: 100%;
        top: 0;
    }
    
    .menu-anim {
        height: 50px;
        animation-name: hide-menu;
        animation-duration: 1s;
    }
    
    .menu-button {
        height: 50px;
        width: 100%;
        background-color: white;
        bottom: 0;
        position: absolute;
    }
    
    .menu-icon {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .menu-content {
        height: 50%;
        width: 100%;
        top: -50%;
        position: fixed;
        background-color: white;
    }
    
    .menu-content-anim {
        animation-name: hide-menu-content;
        animation-duration: 1s;
        top: -50%;
    }
    
    .menu-show {
        animation-name: show-menu;
        animation-duration: 1s;
        top: 0;
    }
    
    .menu-show .menu-content {
        animation-name: show-menu-content;
        animation-duration: 1s;
        top: 0;
    }

    .menu-button ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    .menu-button ul li {
        float: left;
    }
    
    .menu-button .yon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        animation: logo-yon-anim 10s linear infinite alternate;
        font-size: 32px;
        font-weight: bold;
        line-height: 80%;
    }

    .menu-button .store {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        animation: logo-store-anim 10s linear infinite alternate;
        font-size: 32px;
        font-weight: bold;
        line-height: 80%;
    }

    .menu-button .social-title {
        animation: logo-social-anim 8s linear infinite alternate;
        right: 20px;
        top: 45%;
        transform: translateY(-50%);
        position: absolute;
    }

    .menu-button .social-icon {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .menu-button .social-icon li img {
        animation: logo-social-icon-anim 8s linear infinite alternate;
        padding-left: 10px;
    }
    
    @keyframes show-menu {
      from {height: 50px;}
      to {height: 50%;}
    }
    
    @keyframes hide-menu {
      from {height: 50%;}
      to {height: 50px;}
    }
    
    @keyframes show-menu-content {
        from {top: -50%;}
        to {top: 0;}
    }
    
    @keyframes hide-menu-content {
        from {top: 0;}
        to {top: -50%;}
    }

    @keyframes logo-yon-anim {
        0% {left: 0px;}
        25% {left: 0px;}
        50% {left: -150px;}
        100% {left: -150px;}
    }

    @keyframes logo-store-anim {
        0% {left: -150px;}
        50% {left: -150px;}
        75% {left: 0px;}
        100% {left: 0px;}
    }

    @keyframes logo-social-anim {
        0% {opacity: 1;}
        25% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 0;}
    }

    @keyframes logo-social-icon-anim {
        0% {max-height: 0px;}
        50% {max-height: 0px;}
        75% {max-height: 200px;}
        100% {max-height: 200px;}
    }
}